body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(208, 236, 236);
    color: white;
}

.container {
    width: 780px;
    border: 1px solid pink;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #1e1e1e;

}

.container header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


header h2 {
    font-size: 1.6rem;
}

header .colums {
    display: flex;
    align-items: center;
}

header .colums span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: white;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;

}

.keys-check input::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: rgb(172, 167, 167);
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;

}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: white;
}

.piano-keys {
    display: flex;
    margin-top: 30px;
    user-select: none;
    position: relative;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: rgb(145, 143, 142);
    position: relative;
    text-transform: capitalize;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 8px;
    background: linear-gradient(#ffff 96%, #ebe8e8 4%);

}

.piano-keys .black {
    width: 50px;
    height: 150px;
    z-index: 2;
    margin: 0 -24px 0 -24px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 8px;
    background: linear-gradient(#333, #000);

}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;

}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ffff 0%, #eee 100%);

}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);

}